<div class="container" >
	<div class="border border-danger rounded p-5 mx-5">
    <form action="/admin/class/create" method="post">
  		<div class="panel panel-default">
  			<div class="panel-heading">
  				<h3><center>Add Class</center></h3>
  			</div>
  			<div class="panel-body" >
          {{#if success}}
            <div class="alert alert-success">
              {{{success}}}
            </div>  
          {{/if}}
          {{#if error}}
            <div class="alert alert-danger">
              {{{error}}}
            </div>  
          {{/if}}
          <br>
          <table width="100%" class="mx-3">
            <tr><td width="15%">Batch</td>
            <td width="75%"><select class="form-control" name="batch" required="">
              {{#each year}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select></td></tr>
            <tr><td>Section</td>
            <td><select class="form-control" name="section" required="">
              {{#each section}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select></td></tr>
            <tr><td>Adviser</td>
            <td><select class="form-control" name="advisorId" required="">
              {{#each facultyList}}
                <option value="{{this.id}}">{{this.prefix}} {{this.first_name}} {{this.middle_name}} {{this.last_name}}</option>
              {{/each}}
            </select></td></tr>
          </table><br>
           <center> <input type="submit" class="btn btn-danger" name="Create"></center>
          </div>

  			</div>
  		</div>
    </form>
	</div>
</div> 