<div class="container" >
  <div class="border border-danger rounded p-5 mx-5">
    <form action="/admin/faculty/create" method="post">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><center>Add Faculty</center></h3>
        </div>
        <div class="panel-body" >
          {{#if success}}
            <div class="alert alert-success">
              {{{success}}}
            </div>  
          {{/if}}
          {{#if error}}
            <div class="alert alert-danger">
              {{{error}}}
            </div>  
          {{/if}}
          <br>
          <table width="100%" class="mx-3">
            <tr><td width="25%">First Name:</td>
                <td width="65%">
                  <input type="text" class="form-control" name="firstName" required="" value="{{firstName}}"></td></tr>
            <tr><td width="15%">Middle Name:</td>
                <td width="75%">
                 <input type="text" placeholder="Optional" class="form-control faculty-create-information-name" name="middleName" value="{{middleName}}"></td></tr>
            <tr><td width="15%">Last Name:</td>
                <td width="75%">
                   <input type="text" class="form-control" name="lastName" required="" value="{{lastName}}"></td></tr>
            <tr><td width="15%">Email Address:</td>
                <td width="75%">
                  <input type="email" class="form-control" name="email" required="" value="{{email}}"></td></tr>
            <tr><td width="15%">Phone Number:</td>
                <td width="75%">
                  <input type="text" class="form-control" name="phoneNumber" value="{{phoneNumber}}"></td></tr>
            <tr><td width="15%">Password:</td>
                <td width="75%">
                 <input type="password" class="form-control" name="password1" required=""></td></tr>
            <tr><td width="15%">Confirm Password:</td>
                <td width="75%">
                 <input type="password" class="form-control" name="password2" required=""></td></tr>
            <tr><td></td><td>
               <div class="form-inline">
               <input type="checkbox" class="checkbox" name="isAdmin" value="true">
               <label class="checkbox">Admin</label>
               </div></td></tr>
          </table><br>
           <center> <input type="submit" class="btn btn-danger" name="Create"></center>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>



