<div class="container">

<table class="table w-50">
  <thead>
    <tr><td colspan="2"><h4>STUDENT INFORMATION<h4></td></tr>
  </thead>
  <tbody>
    <tr>
      <td>Batch</td>
      <td>{{sectionData.batch}}</td>
    </tr>
    <tr>
      <td>Section</td>
      <td>{{sectionData.section}}</td>
    </tr>
    <tr>
      <td>Adviser:</td>
      <td>{{sectionData.prefix}} {{sectionData.first_name}} {{sectionData.middle_name}} {{sectionData.last_name}} {{sectionData.suffix}}</td>
    </tr>
  </tbody>
</table>

 
</div>